body {
    background-color: #e3ecfa;
    padding: 0px;
    margin: 0px;
    font-family: Century Gothic;
    
}

p {
    font-family: Century Gothic;
    font-size: 20px;
}

h1 {
    font-size: 80px;
}

#header {
    background-color: black;
    opacity: 20%;
    height: 100px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: fixed;
    color:black;
}



/** ----------- CLASSEEEES ----------- **/









.header-color {
    color:#3498db;
}

.text-center {
    text-align: center;
}









/** -------------------------------------- **/




/**---------- ANIMATIOOOOOOOOONS-------------*/








.animate-spin {
    animation-name: spin-out;
    animation-duration: 1s;
}


.animate-spin:hover {   
    animation-name: spin-in;
    animation-duration: 1s;
    /*
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
    */
}

@keyframes spin-in {
    from { 
        transform: rotate(0deg); 
    }
    to { 
        transform: rotate(360deg); 
    }
}

@keyframes spin-out {
    from { 
        transform: rotate(360deg); 
    }
    to { 
        transform: rotate(0deg); 
    }
}




.animate-zoom {
    animation-name: zoom-out;
    animation-duration: 300ms;
}

.animate-zoom:hover {
    animation-name: zoom-in;
    animation-duration: 300ms;
    transform: scale(1.2); 
    /* (150% zoom - Note: if the zoom is too large, 
    it will go outside of the viewport) */
    transition:transform 259ms ease-in-out 120ms;
}

@keyframes zoom-in {
    from {
        transform: scale(1.0);
    }

    to {
        transform: sclae(1.2);
    }
}

@keyframes zoom-out {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1.0);
    }
}










/** -------------------------------------------- **/





#nav {
    height: 100px;
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    position: fixed;
    font-size: 18px;
    color:black;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

#nav a {
    align-items: start;
    list-style-type: none;
    margin-left: 0px;  
    display: inline;
    padding: 3px 0; 
    margin: 30px;
    position: relative;
    color: white;
    transition: 500ms;
    text-decoration: none;
    border: 0;
}

#nav a::after {
    position: absolute;
    content: "";
    top: 80%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;

}

/*
.highlight::after {
    color: #3498db;
    transform: scaleX(1);
    transform-origin: left;
}
*/


#nav .active{
    color: #3498db;
}

#nav a:hover::after {
        transform: scaleX(1);
        transform-origin: left;
}



/*

OOO     OOO 
OOO     OOO
OOOOOOOOOOO
OOOOOOOOOOO
OOO     OOO
OOO     OOO

*/



#background-home {
    background-image: url('./Images/constellation.jpg'); 
    /*background-repeat: inherit;*/
    min-width: 400px;
}

#pic {
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;

    width: 400px;
    /*border-style: solid;*/
}




#picture {
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 100%;
    
}

#pic p {
    font-size: 50px;
    color: white;
    letter-spacing: 10px;
   
}


#pic #tag {
    font-size: 20px; 
    font-style: italic;
}




#sites {
    
    margin: 60px auto 550px auto;
  
    

    text-align: center;
    padding: 0px;
    width: 450px;
    
    padding-left: 0px;  

    float: inherit;

  /*  border-style: solid;  */
}

#sites ul {
    padding-left: 0px;
}


#sites ul li {
    display: inline;
    left: 0px;

    
}

#sites ul img {
   height: 70px;
   width: 63px;
   
   margin: 10px;
   /*margin-left: 0px;
   
   margin-top: 0px;
   margin-bottom: 0px;
    */

    padding: 12px;
   left: 0px;
   
}



/*

    OOOOOOOOOOOO   
    OOO      OOO 
    OOO      OOO   
    OOOOOOOOOOOO   
    OOO      OOO 
    OOO      OOO
    OOO      OOO 
*/




#background-about {
    background-color: #E3ECFA;
   /* max-width: 1000px; */
    height: 800px; 
    width: 100%;
    min-width: 400px;
    padding-top: 100px;
    padding-bottom: 0px;
    
    
}


#background-about h1 {
    font-size: 80px;
    
}
/**

#background-about p {
   margin: 100px 20% 10px 40%;
   line-height: 250%;

}

#background-about img {
    height: 440px;
    width: 360px;
 
 }
**/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    
    margin: 25px auto;
    border-style: solid; 
    width: 85%;
    max-width: 1200px;
  }

 
/*
  .grid-item {
      border-style: solid; 
  }
*/

  

  .grid-item img {
    height: 440px;
    width: 350px;
    padding: 5%;
    margin: 0 auto;
}


  .grid-item p {
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 5%;
    font-size: 20px;
    text-align: left;
    margin: auto;
    line-height: 250%;
    max-width: 1100px;
    overflow: hidden;

  }
  


/** -------------- EDUCATION ------------------- **/

/*
#background-educ {
    height: 1080px; 
    width: 100%;
    background-image: url('./Images/background-educ.jpg');
}

#background-educ p {
    font-size: 60px;
    margin: 5%;
    padding-top: 180px;

}

#timeline {
    height: 5px;
    width: 70%;
    background-color: white;
    margin: 400px auto 0 auto;
}

.time {

    background-color: white;
    display: inline;
    border-radius: 100%;
    padding: 5px;
    margin-right: 46%;
    left: 0px;
}

.time-last {

    background-color: white;
    display: inline;
    border-radius: 100%;
    padding: 5px;
    left: 0px;

    
}
*/



#background-services h1 {
    font-size: 80px;
    margin: 0 auto;
}

.services-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    width: 700px;
    max-width: 1100px;
    grid-gap: 30px;
   /*
    justify-items: center;
    align-items: center;
   */

  }

  .services-grid-item {
   /* margin-top: 50px; */
    border-style: solid;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .services-grid-item p {
      margin: 0px;
      font-size:15px;
  }




































/*

    OOOOOOOO  OOOOOOOO
    OOO    OOO     OOO
    OOO    OOO     OOO
    OOO    OOO     OOO
    OOO    OOO     OOO
    OOO    OOO     OOO
    OOO            OOO
    



*/


@media only screen and (max-width: 992px) {
    #nav {
        font-size: 15px;
        position: fixed;  
    }
    #nav a{
        margin: 10px; 
        
    }

    #picture {
       
        height: 150px;
        width: 150px;  
    }
    
    #pic p {
        font-size: 40px;
        color: white;
        letter-spacing: 10px;
        
    }

    #pic #tag {
        font-size: 15px; 
        font-style: italic;
    }


   




    #sites {
        padding-left: 0px;
        width: 300px;
        /*border-style: solid;*/

    }


    
    
    #sites ul li {
        display: inline;
        padding-left: 0px;
    }
    
    #sites ul img {
       height: 45px;
       width: 40px;
       margin: 8px;
       padding: 3px;
       left: 0px;
       
    }









    #background-about h1 {
        font-size: 60px;
        margin-top: 100px;
        
    }
    /**
    
    #background-about p {
       margin: 100px 20% 10px 40%;
       line-height: 250%;
    
    }
    
    #background-about img {
        height: 440px;
        width: 360px;
     
     }
    **/
    
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
       /* background-color: #2196F3; */
       
    
        padding: 5px;
        margin-top: 0px;
    

        min-width: 400px;

        margin-top: 50px;
       
      }
/*
      .grid-item {
          width: 90
      }*/
    
      .grid-item img {
        height: 220px;
        width: 180px;
        margin: 0 auto;
        
    }
    
    
      .grid-item p {
       /* border: 1px solid rgba(0, 0, 0, 0.8); */
        padding: 5%;
        font-size: 13px;
        text-align: left;
        margin: auto;
        line-height: 300%;
        width: 90%;
        line-height: 200%;


        
      }

      #background-services h1 {
        font-size: 60px;
        
    }
    











.services-grid-container {
    display: grid;
    width: 400px;
    grid-template-columns: 1fr;   
    max-width: 1100px;

  }


  .services-grid-item {

    border-style: solid;
    

  }














   

  }






















/*

        OOOOOOOOOOOOOOO   
        OOOOOOOOOOOOOOO
        OOO    
        OOOOOOOOOOOOOOO
        OOOOOOOOOOOOOOO
                    OOO            
        OOOOOOOOOOOOOOO
        OOOOOOOOOOOOOOO 
*/

  @media only screen and (max-width: 500px) {
    #nav {
        font-size: 12px; 
    }



    #nav a{
        margin: 10px; 
        max-width: 150px;
    }










    #sites {
        width: 250px;
        /*border-style: solid;*/
       
    }
    
    
    #sites ul li {
        display: inline;
        padding-left: 0px;
    }
    
    #sites ul img {
       height: 40px;
       width: 36px;
      
       margin: px;
       padding: 0px;
       left: 0px;
       max-width: 360px;
       
    }













    #background-about h1 {
        font-size: 40px;
        margin-top: 80px;
        
    }
    /**
    
    #background-about p {
       margin: 100px 20% 10px 40%;
       line-height: 250%;
    
    }
    
    #background-about img {
        height: 440px;
        width: 360px;
     
     }
    **/
    
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill);
       /* background-color: #2196F3; */
        padding: 10px;
        margin-top: 20px;
        min-width: 360px;
      }
/*
      .grid-item {
          border-style: solid;
      }
  */  
      .grid-item img {
        height: 300px;
        width: 275px;
        padding-left: 70px;
        

    }
    
    
      .grid-item p {
       /* border: 1px solid rgba(0, 0, 0, 0.8); */
        padding: 5%;
        font-size: 10px;
        text-align: left;
        /*margin: 5% 30% 5px 20%; */
        line-height: 200%;
        
      }




      #background-services h1 {
        font-size: 40px;
        
    }

  }


