body {
    background-color: #e3ecfa;
    padding: 0px;
    margin: 0px;
    font-family: Century Gothic;
}

p {
    font-family: Century Gothic;
}

#header {
    background-color: black;
    opacity: 20%;
    height: 100px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: fixed;
    color:black;
}

#nav {
    height: 100px;
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    position: fixed;
    font-size: 18px;
    color:black;
    text-align: center;
}

#nav ul {
    margin-top: 50px;
    padding-left: 0px;  
}

#nav ul li{
    display: inline;
    text-decoration: none;
    margin: 4%; 
    color: white;
}

#background {
    background-image: url('./Images/constellation.jpg'); 
    /*background-repeat: inherit;*/
    min-width: 400px;
}

#pic {
    text-align: center;
    margin: 0 auto;
    padding-top: 250px;

    width: 400px;
    /*border-style: solid;*/
}

#picture {
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 100%;
    
}

#pic p {
    font-size: 50px;
    color: white;
    letter-spacing: 10px;
}

#pic #tag {
    font-size: 20px; 
    font-style: italic;
}




#sites {
    
    margin: 0 auto;
    margin-top: 30px;
    
    text-align: center;
    padding: 0px;
    width: 450px;
    
    padding-left: 0px;  

    float: inherit;

  /*  border-style: solid;  */
}

#sites ul {
    padding-left: 0px;
}


#sites ul li {
    display: inline;
    left: 0px;

    
}

#sites ul img {
   height: 50px;
   width: 45px;
   
   margin: 4px;
   /*margin-left: 0px;
   
   margin-top: 0px;
   margin-bottom: 0px;
    */

    padding: 12px;
   left: 0px;
   
}



#sites ul img:hover {   
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}










@media only screen and (max-width: 800px) {
    #nav {
        font-size: 12px;  
    }
    #nav ul li{
        margin: 2%; 
        
    }

    #picture {
       
        height: 150px;
        width: 150px;  
    }
    
    #pic p {
        font-size: 40px;
        color: white;
        letter-spacing: 10px;
    }

    #pic #tag {
        font-size: 15px; 
        font-style: italic;
    }


   




    #sites {
        padding-left: 0px;
        width: 300px;
        /*border-style: solid;*/

    }


    
    
    #sites ul li {
        display: inline;
        padding-left: 0px;
    }
    
    #sites ul img {
       height: 45px;
       width: 40px;
       margin: 2px;
       padding: 3px;
       left: 0px;
       
    }

   

  }













  @media only screen and (max-width: 460px) {
    #nav {
        font-size: 11px;  
       
    }
    #nav ul li{
        margin: 2px; 
     
        
    }










    #sites {
        width: 200px;
        /*border-style: solid;*/
       
    }
    
    
    #sites ul li {
        display: inline;
        padding-left: 0px;
    }
    
    #sites ul img {
       height: 30px;
       width: 27px;
       margin-right: 4px;
       margin-left: 0px;
       padding: 0px;
       left: 0px;
       
       
    }


  }


