@media (min-width: 768px) {
    .navbar-header {
      float: right;
    }
  }
  .navbar-brand {
    float: right;
  }
  .navbar-toggle {
    float: left;
    margin-left: 15px;
    margin-right: 0;
  }